read direct from JSON output of an API

In [7]:
import pandas as pd
from urllib.parse import urlencode

ep = "https://aviationweather.gov/api/data/airport"
params = {'ids': 'KSFO,KLAX,KOAK,KSJO,KAPC,KCCR,KSQL', 'format': 'json'}
url = ep + "?" + urlencode(params)
pd.read_json(url)

,ind,id,name,iata,source,state,country,type,lat,lon,...,rwy_num,rwy_len,rwy_type,services,tower,beacon,traffic,runways,freqs,passengers
0,4088,KCCR,CONCORD/BUCHANAN_FLD,CCR,FAA,CA,US,ARP,37.9897,-122.0569,...,4,M,A,S,T,B,119598,"[{'id': '01L/19R', 'dimension': '5001x150', 's...","[{'type': 'LCL/P', 'freq': 123.9}, {'type': 'A...",NaN
1,4382,KLAX,LOS ANGELES/LOS_ANGELES_INTL,LAX,FAA,CA,US,ARP,33.9425,-118.4080,...,4,L,C,S,T,B,558266,"[{'id': '06L/24R', 'dimension': '8926x150', 's...","[{'type': 'LCL/P', 'freq': 119.8}, {'type': 'D...",65.92
2,4444,KAPC,NAPA/NAPA_COUNTY,APC,FAA,CA,US,ARP,38.2132,-122.2807,...,3,M,C,S,T,B,45008,"[{'id': '01L/19R', 'dimension': '5930x150', 's...","[{'type': 'LCL/P', 'freq': 118.7}, {'type': 'A...",NaN
3,4457,KOAK,OAKLAND/METRO_OAKLAND_INTL,OAK,FAA,CA,US,ARP,37.7213,-122.2212,...,4,L,A,S,T,B,228188,"[{'id': '10L/28R', 'dimension': '5457x150', 's...","[{'type': 'LCL/P', 'freq': 118.3}, {'type': 'L...",11.14
4,4591,KSQL,SAN CARLOS/SAN_CARLOS,SQL,FAA,CA,US,ARP,37.5119,-122.2495,...,1,M,A,S,T,B,75243,"[{'id': '12/30', 'dimension': '2621x75', 'surf...","[{'type': 'LCL/P', 'freq': 119}, {'type': 'ATI...",NaN
5,4618,KSFO,SAN FRANCISCO/SAN_FRANCISCO_INTL,SFO,FAA,CA,US,ARP,37.6188,-122.3754,...,4,L,A,S,T,B,299744,"[{'id': '01L/19R', 'dimension': '7650x200', 's...","[{'type': 'D-ATIS', 'freq': 113.7}, {'type': '...",42.21

Often, JSON output needs to be parsed first

In [8]:
import pandas as pd
from urllib.parse import urlencode

url = "https://openlibrary.org/search.json"
params = {'author': 'Hemingway', 'sort': 'new'}
url = url + "?" + urlencode(params)
pd.read_json(url)

,numFound,start,numFoundExact,docs,num_found,q,offset
0,1609,0,True,"{'author_key': ['OL13242054A', 'OL2875485A'], ...",1609,,NaN
1,1609,0,True,"{'author_key': ['OL9209548A'], 'author_name': ...",1609,,NaN
2,1609,0,True,"{'author_key': ['OL8136856A', 'OL10200234A', '...",1609,,NaN
3,1609,0,True,"{'author_key': ['OL10415372A'], 'author_name':...",1609,,NaN
4,1609,0,True,"{'author_key': ['OL13242054A', 'OL7310023A'], ...",1609,,NaN
...,...,...,...,...,...,...,...
95,1609,0,True,"{'author_key': ['OL1806154A', 'OL11297969A', '...",1609,,NaN
96,1609,0,True,"{'author_alternative_name': ['HEMINGWAY', 'Ern...",1609,,NaN
97,1609,0,True,"{'author_key': ['OL9240813A'], 'author_name': ...",1609,,NaN
98,1609,0,True,{'author_alternative_name': ['ERNEST HEMINGWAY...,1609,,NaN
99,1609,0,True,{'author_alternative_name': ['ERNEST HEMINGWAY...,1609,,NaN

store the JSON response in a file (ol.json) so we can examine it

In [9]:
import pandas as pd
import requests
import json

url = "https://openlibrary.org/search.json"
params = {'author': 'Hemingway', 'sort': 'new'}

js = requests.get(url, params=params).json()
with open('ol.json', 'w') as f:
    json.dump(js, f)

Using requests to retrieve a JSON response

In [10]:
import pandas as pd
import requests

url = "https://openlibrary.org/search.json"
params = {'author': 'Hemingway', 'sort': 'new'}

js = requests.get(url, params=params).json()
pd.DataFrame(js['docs'])

,author_key,author_name,ebook_access,ebook_count_i,edition_count,edition_key,first_publish_year,has_fulltext,isbn,key,...,ratings_count_1,ratings_count_2,ratings_count_3,ratings_count_4,ratings_count_5,ratings_average,ratings_sortable,ratings_count,lcc,lcc_sort
0,"[OL13242054A, OL2875485A]","[Ernest Hemingway, Robert W. Trogdon]",no_ebook,0,1,[OL51107264M],2024,False,"[1598537849, 9781598537840]",/works/OL37864007W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[OL9209548A],[Mollie Hemingway],no_ebook,0,1,[OL50769198M],2024,False,"[9781684516940, 1684516943]",/works/OL37653127W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[OL8136856A, OL10200234A, OL10084993A, OL13621...","[Don Douglass, Reanne Hemingway Douglass, Leon...",no_ebook,0,1,[OL51129354M],2024,False,"[1734131292, 9781734131291]",/works/OL37877726W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[OL10415372A],[Earnest Hemingway],no_ebook,0,1,[OL49666014M],2024,False,NaN,/works/OL36775884W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[OL13242054A, OL7310023A]","[Ernest Hemingway, Tavia Gilbert]",no_ebook,0,1,[OL51626379M],2024,False,[9798212707121],/works/OL38038544W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"[OL1806154A, OL11297969A, OL7477580A, OL6615574A]","[John Hemingway, Lucinda Poole, Martin Roberts...",no_ebook,0,1,[OL42448924M],2021,False,[9798717962384],/works/OL30897457W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,"[OL11185934A, OL13640A]","[maxi sanchez, Ernest Hemingway]",no_ebook,0,1,[OL42387131M],2021,False,[9798721994609],/works/OL30851462W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,[OL9240813A],[Caroline Hemingway],no_ebook,0,1,[OL40146943M],2021,False,[9798510947793],/works/OL29188027W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,"[OL11185934A, OL13640A]","[maxi sanchez, Ernest Hemingway]",no_ebook,0,1,[OL42257525M],2021,False,[9798722503589],/works/OL30749842W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,[OL13640A],[Ernest Hemingway],no_ebook,0,1,[OL42438696M],2021,False,"[9781950330737, 1950330737]",/works/OL30890190W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN